<header class="col-1 my-auto sidebar">
    <nav>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <%= link_to "Usuarios", admin_users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Mensajes de contacto", admin_contact_messages_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Gestionar Blogs", admin_blogs_path, class: "nav-link" %>
            </li>
        </ul>
    </nav>
</header>
